.reveal pre {
	width: auto;
}

.reveal img.align-center, 
.reveal .align-center img {
	max-height: 65vh;
}

.reveal .slides {
	text-align: left;
}

.reveal .slides h1 {
	font-size: 3.25rem;
	text-align: center;
}

.reveal .slides h2 {
	font-size: 1.25rem;
	text-align: center;
}

.reveal .body-height {
	display: inline-block;
	height: 38px;
	width: auto;
}

.reveal .body-height > * {
	vertical-align: middle;
}

.reveal .body-height > img {
	background: transparent;
	border-width: 0;
}

.reveal .float-left,
.reveal .float-right {
	float: left;
	height: auto;
	margin: 0 1rem 1rem 0;
	max-width: 45%;
}

.reveal .float-right {
	float: right;
	margin: 0 0 1rem 1rem;
}

.reveal .align-center {
	display: block;
	margin:  auto;
	text-align: center;
}
